.marquee {
    margin: 2rem 0;
    font-size: 8vw;
    overflow: hidden;
 }
 
 .marquee--long { 
    font-size: 1.25vw; 
 }
 
 .marquee span {   
     display: inline-block;
     white-space: nowrap;
     color: #00112C;
     width: var(--tw);
     text-shadow: var(--tw) 0 currentColor, 
                  calc(var(--tw) * 2) 0 currentColor, 
                  calc(var(--tw) * 3) 0 currentColor,
                  calc(var(--tw) * 4) 0 currentColor;
    
     will-change: transform;
     animation: marquee var(--ad) linear infinite;
     animation-play-state: paused;
 }
 
 .marquee:hover span {
     animation-play-state: running;
 }
 
 @keyframes marquee {
     0% { transform: translateX(0); }
     100% { transform: translateX(-100%); }
 }
 
 /*  
  * on MacOs: System Preferences > 
  *           Accessibility > 
  *           Display > Reduce motion
  */
 
 @media (prefers-reduced-motion: reduce) {
   .marquee span {
     animation: none;
     text-shadow: none;
     width: auto;
     display: block;
     line-height: 1.5;
     text-align: center;
     white-space: normal;
   }
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 :checked ~ .marquee span { animation-play-state: running; }
 label { font: .85rem Courier; margin-left: .5em}