@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: rosybrown;
    font-family: 'Roboto Mono', serif;
}

.header {
    padding: 10px;
    text-align: center;
    background: salmon;
}

.header h1 {
    font-size: 40px;
}

.nav {
    overflow: hidden;
    background: seashell;
}

.nav a {
    float: left;
    color: darkgreen;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.left {
    float: left;
    width: 75%;
}

.right {
    float: left;
    width: 25%;
    background-color: darkkhaki;
    padding-left: 20px;
}

.card {
    background-color: lightcyan;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 10px;
    text-align: center;
    background: lightgoldenrodyellow;
    margin-top: 20px;
}